.give-consents {
  .rows {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  mat-form-field {
    margin: 0.5em;
  }

  .consents-section {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    justify-content: center;
    border: solid 1px darkgray;
  }

  .consents-checkbox-button {
    margin: 5px;
  }
}

@media (max-width: 768px) {
  .give-consents {
    .rows {
      flex-direction: column;
    }
  }
}
